<style type="text/css">

.tabs-positive > .tabs, .tabs.tabs-positive{
  background:#e4931b !important;
  border-color: #e4931b !important;
}



</style>
<ion-view view-title="">
    <ion-nav-title>Farm Registration</ion-nav-title>
    <ion-tabs class="tabs-positive tabs-top">  
      
        <ion-tab title="Register Details"  href="#/app/addfarm/registerFarm">
          <!-- <ion-nav-view name="registerfarm-tab"></ion-nav-view> -->
        </ion-tab>

        <ion-tab title="Select from Map"  href="#/app/addfarm/registerMap">
          <!-- <ion-nav-view name="registermap-tab"></ion-nav-view> -->
        </ion-tab>
	</ion-tabs>
	<ui-view name="fregister-page"></ui-view>
</ion-view>

