<style type="text/css">

.red1{
background:#f00;
height: 100%;
}

.yellow1{
background:#ff0;
height: 100%;
}

.green1{
background:#0F0;	
height: 100%;
}

.slidebox1{
	height: 200px;
}

.atag{
	text-decoration: none;
	color:#888;
}

img{
	max-width: 100%;
}

.green2{
background: #406325;
}

.cls_fp
{
	text-decoration: none;
	color:#406325;
}

.orange2{
border-color:#e4941b !important;
background:#f9a11c !important;
}
	
</style>
<ion-view view-title="">
	<ion-nav-title>{{ 'GUEST1' | translate }}</ion-nav-title>
    <ion-content>
	</ion-content>
</ion-view>    